<div class="header-left">
    <img src= {{taft10Logo}} alt="Taft Logo" class="header-taft-logo">
    <nav class="header-nav">
        <a href="/home" class="header-button"> Home </a>
        <a href="#about" class="header-button"> About </a>
        <a href="#contact" class="header-button">Contact</a>
    </nav>
</div>
<div class="header-right">
    <div class="search-bar">
        <img src= {{searchIcon}} class="search-icon" alt="search icon"/>
        <input type="search" class="search-form" placeholder="Search Establishment"/>
    </div>
    <div class="profile-icon"></div>
    <a href="/home" class="header-signout">LOG OUT</a>
</div>
