<div class = "review">
    <div class="review-display">
        <div class="profile-display">&nbsp;</div>
        <div class="reviewer-display">
            <div id="name-display"> Alexis Fong </div>
            <div id="label-display"> De La Salle University Student </div>
            <div class="rating-and-date"> 
                <div id="rating-display"> 4.8 ★ </div>
                <div id="dot-display">•</div>
                <div id="date-display"> January 20, 2024 </div>
            </div>
        </div>
        <div class="upvote-container">
            <div class="upvote-display">&nbsp;</div>
            <div class="upvote-count-display"> 78 </div>
        </div>
    </div>
    <div id="review-text-display"> Ate Rica's Bacsilog lives up to its "Sauce Sarap" promise! Delicious, affordable Filipino comfort food with generous portions and friendly service. Perfect for a quick and satisfying breakfast or lunch.</div>
    
    <form action="/reply" method="post" class="reply">
        <label for="description"> Reply to this Review: </label>
        <textarea id="description" placeholder="Your reply here..." name="description"></textarea>
        <input type="submit" value="Post Reply" class="reply-button">
    </form>
    <div class="review-replies-container">
        <div id="reply-display">
            <p class="username-display"> @username <span class="replied">replied: </span></p>
            <p> omg i agree! i love ate rica's too! worth the hype </p>
        </div>
    </div>
</div>
