<div class="review-display">
    <div class="profile-display">&nbsp;</div>
    <div class="reviewer-display">
        <div id="name-display"> {{name}} </div>
        <div id="label-display"> Reviewer </div>
        <div class="rating-and-date"> 
            <div id="rating-display"> 4.8 ★ </div>
            <div id="dot-display">•</div>
            <div id="date-display"> January 20, 2024 </div>
        </div>
    </div>
    <div class="upvote-container">
        <div class="upvote-display">&nbsp;</div>
        <div class="upvote-count-display"> 78 </div>
    </div>
</div>
<div id="review-text-display"> Ate Rica's Bacsilog lives up to its "Sauce Sarap" promise! Delicious, affordable Filipino comfort food with generous portions and friendly service. Perfect for a quick and satisfying breakfast or lunch.</div>
