/* [ROOT] */

:root {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 17px;
}


/* [SCROLL BAR MODIFICATION] */

::-webkit-scrollbar {
    width: 10px;
}
    
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #5d5c5c;
}


/* [COLORS] */
.yellow {
    color: rgba(255, 195, 43, 1);
}

.white {
    color: white;
}

/*placeholder header*/
.header {
    background-color: white;
    padding: 3%;
    display: flex;
    align-items: center;
}

.header-taft-logo {
    height: 32px;
}

.header-button {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #282A37;
}

.profile-icon {
    background-color: red;
    border-radius: 100%;
    background-image: url('./global-assets/header/icon.jpg');
    width: 64px;
    height: 64px;
}

.search-form {
    width: 350px;
    height: 40px;
    background: #fff;

}

.header-nav {
    background-color: red;
}

.header-signout {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    border-radius: 300px;
    padding: 15px;  
    background-color: rgba(177, 15, 46, 1) ;
    
    color: #FFFCE8;
}

