<!DOCTYPE html>
<html>
    <head>
        <title> {{title}} </title>
        <link rel="stylesheet" href="../../public/home-page-section/css/home-index.css">
    </head>
    <body id="home">
        <header> {{>header}} </header>
        {{{body}}}
        {{>content}}
        <footer id="contact"> {{>footer}} </footer>
    </body>
</html>