/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap');

/* Global Styles */
body {
    background-color: rgba(255, 195, 43, 1);
    margin: 0;
    padding: 0;
}

.container-template {
    width: 100%;
    height: auto;
    padding: 1%;
    box-sizing: border-box;
}

.bar-container{
    display: flex;
    background-color: rgba(40, 42, 55, 1);
    font-weight: 800;
    font-size: 50px;
    color: white;
}

.bar-title {
    display: flex;
    margin-left: 1%;
}

.bar-button-container {
    font-size: 20px;
    font-weight: 400;
    background-color: none;
    justify-content: center;
    display: flex;
    align-items: center;
}


/* clear ul's default style */
ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

ul li {
    display: inline-block;
    position: relative;
    box-sizing: border-box;

    border: 1.5px solid #FAB82B;
    border-radius: 10px;
    font-size: 20px;
    border-width: 2px;
    
}

ul li a {
    margin-left: 15px;
    border-radius: 15px;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    color: white;
}

/* style for options in category dropdown */
.category-option {
    margin-bottom: 10px;

}

/* drop down for categories */
ul li ul.category-dropdown {
    
    width: 100px;
    position: absolute;
    z-index: 999;
    display: none;
    background-color: rgba(40, 42, 55, 1);  
     
}

/* hovering action creates yellow highlight */
ul li a:hover {
    background-color: rgba(255, 195, 43, 1);;    
}


/* shows categories when hovered */
ul li:hover ul.category-dropdown { 
    display: block;
    width: 75%;
}

.est-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
    margin: 5vh;
    justify-content: space-around;
    align-self: center;
    max-width: fit-content;
}

.est-content {
    background-color: white;
    overflow: hidden;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    padding: 3vh;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    width: calc(33.33% - 10vh); /* sets 3 max per row */
    max-height: 80%;
}

.est-cover {
    width: 130%;
    height: auto; 
    align-self: center;
    bottom: 3vh;
    position: relative;
}

.est-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.est-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: rgba(40, 42, 55, 1);
}

.est-rating-container {
    display: flex;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(255, 195, 43, 1);
    align-items: center;
}

.est-rating {
    margin-left: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    
}

.est-rating-icon {
    height: 15px;
    width: 15px;
    padding-left: 5px;
}

.est-subtitle-container {
    font-weight: 400;
    font-size: 20px;
    color: #868686;
    display: flex;
}

.est-price {
    font-weight: lighter;
}

.bold {
    font-weight: 600;
}

.food-tag {

    font-family: 'Kanit';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #868686;


    background: #EFEFEF;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 7px;

    
}

.est-description-container {
    margin-top: 1rem;
    display: flex;
}

.est-description {
    font-weight: 200;
    font-size: 17px;
    line-height: 25px;
    text-align: justify;
    color: #868686;
}

.est-review-icon {
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;
}

.est-review-section {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.est-add-review, .est-view-review {
    font-weight: 600;
    font-size: 18px;
    color: rgba(40, 42, 55, 1);
}


.est-add-review:hover, .est-view-review:hover {
    color: red;
    /*text-decoration: underline;*/
}