/* Import Fonts */
@import url(https://fonts.googleapis.com/css?family=Staatliches|Kanit);

/* Root */
:root {
    font-family: 'Kanit';
    padding: 120px;
}

/*********************************************
                    Header 
*********************************************/

header {
    font-family: 'Staatliches';
    display: flex;
    gap: 20em;
    position: absolute;
    width: 1440px;
    height: 130px;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 51px rgba(0, 0, 0, 0.25);
}

.navbar {
    display: flex;
    gap: 3em;
    list-style-type: none;
    margin-top: 2.7em;
    margin-left: 5em;
    font-size: 1.3em;
    color: #B10F2E;
}

.logo, #logo-text {
    font-weight: normal;
    font-size: 64px;
    position: relative;
    margin-top: 23px;
    color: #FFC32B;
}

#sign-in {
    margin-top: 0.8em;
    margin-left: 3em;
    font-family: 'Staatliches';
    font-size: 1em;
    position: absolute;
    width: 75px;
    height: 29px;
    left: 1205px;
    top: 39px;
    background: #B10F2E;
    color: #FFFFFF;
    border-radius: 50px;
    border: 2px solid #B10F2E;
}

#sign-up {
    margin-top: 0.8em;
    margin-left: 3em;
    font-family: 'Staatliches';
    font-size: 1em;
    box-sizing: border-box;
    position: absolute;
    width: 75px;
    height: 29px;
    left: 1125px;
    top: 39px;
    background: #FFFFFF;
    color: #B10F2E;
    border: 2px solid #B10F2E;
    border-radius: 50px;
}

/*********************************************
                    Home 
*********************************************/
.home {
    display: flex;
    flex-direction: row-reverse;
}

#home-vertical-line {
    position: absolute;
    margin-top: 423px;
    margin-right: 423px;
    background-color: black;
    transform: rotate(90deg);
    height: 17px;
    width: 500px;
}

#quote {
    font-size: 9em;
    margin-right: 4em;
    height: 0px;
    background-color: blueviolet;
}

#home-review {
    font-family: 'Staatliches';
    font-size: 5em;
    position: absolute;
    top: 300px;
    line-height: 80px;
}

.stars {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-left: 1.8em;
    list-style: url(home-images/star.png);
    gap: 24px;
    background-size: 1px;
}

#review {
    position: relative;
    top: 300px;
    line-height: 5px;
    font-size: large;
}

.home-est-button {
    position: relative;
    top: 300px;
}

#home-reviewer {
    position: relative;
    top: 5px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.4px;
}

#home-reviewer-info {
    position: relative;
    top: 4px;
    font-style: italic;
    letter-spacing: 0.1px;
}

.home-est-button {
    /* VIEW ESTABLISMENTS */
    font-family: 'Staatliches';
    font-size: 1.2em;
    position: rel;
    background: #ffffff;
    color: #B10F2E;
    border-radius: 50px;
    border: 3px solid #B10F2E;
    width: 180px;
    height: 40px;
    margin-top: 420px;
}

#home-view-est {
    position: relative;
    margin-right: 60px;
}


